<div class="nested-fields">
  <br />
  <div class="field">
    <%= f.label :option %><br />
    <%= f.check_box :answer %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="links">
    <%= link_to_remove_association "remove", f %>
  </div>
</div>
