<div class="nested-fields">
    <br />
    <%= f.label :option %><br/>
    <%= f.text_field :opt, autofocus: true %>
    <div class="links">
        <%= link_to_remove_association "remove", f %>
    </div>
</div>