<center>
  <h1>Student Dashboard</h1>(<%= current_user.email%>) ||
  <%= link_to 'Edit Profile', edit_user_registration_path%> ||
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
</center>

<br />
<%= render "exam_list" %>
