<center>
  <div>
    <h1>Student Dashboard</h1>(<%= current_user.email%>)
  </div>
</center>
<%= link_to 'Edit Profile', edit_user_registration_path%>
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<br />
<%= render "exam_list" %>
