<%if current_user%>
  <%= link_to "Back", :back %>
  <center>
    <h2>:::Add Student:::</h2>
    <%= render "addnew"%>
  </center>
<%else%>
  <script type="text/javascript">
    window.location.href = "/" // put your correct path in a string here
  </script>
<%end%>
