<center>
  <% @page_title = "My Dashboard" %>
  <%# <h2>Faculty Dashboard</h2> %>
  <h1>Welcome <%= current_user.fname %>!!</h1>
</center>
<div class="popular_catagory_area">
  <div class="row">
    <div class="col-lg-4 col-xl-3 col-md-6">
      <div class="single_catagory">
        <a href="exams">
          <h4>Exams you have created</h4>
        </a>
        <p> <span><%= current_user.exams.count %></span>exams</p>
      </div>
    </div>
  </div>
</div>
