<%= link_to "Back", createexam_index_path %>  ||
<%= link_to "My Dashboard(#{current_user.email})", faculty_index_path%> ||
<%= link_to 'Exam List', createexam_index_path %>
<h2>================================</h2>

<%= render "createnewexam"%>
