<div>
  <center>
    <table class="roundedCorners" id="faclist">
      <thead><tr>
          <th>Branch</th>
          <th>Semester</th>
          <th>Subject</th>
          <th></th>
        </tr> </thead>

      <% @subject.each do |i|%>
     
      <tr> 
        <td><%=i.branch.name %></td>
        <td><%=i.semester.sem %></td>
        <td><%=i.name %></td>
   
        <td><%=link_to("Delete", modifysubject_path(i), method: :delete, data: {confirm:"Are you sure?"}) %></td>  
      </tr>

      <% end %>
    </table>
  </center>
</div>