@import "bootstrap";
// @import "bootstrap-sprockets";
@import "font-awesome";
@import "my_css/*";
@import "w3.css";
@import "sidebar.scss";
// @import "my_scss/*";
// @import "my_css/slicknav";
// @import "material/material-dashboard";
// @import "material/demo.css";
/*
*= require bootstrap
*= require bootstrap-datetimepicker
*/

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

.myspan {
  color: #D00;
  font-weight: bold;
}
