<%= link_to "Back", faculties_path %>
<div class="text-center">
  <h1>Exam<%= link_to "", new_exam_path, class: "btn-outline-success fa fa-plus-circle" %></h1>
  (<%= current_user.email %>)<br/><br/>
  <%= render "examlist" %>
</div>
