<%= link_to "Back", faculties_path %>
<center>
  <h1>:::Exam:::</h1><%= link_to "Create new", new_exam_path %>
  (<%= current_user.email %>)
  <h3>==========================</h3>
  <%= render "examlist" %>
</center>
