<%= link_to "Back", exams_path %> ||
<%= link_to "My Dashboard(#{current_user.email})", faculties_path %> ||
<%= link_to 'Exam List', exams_path %>
<h2>================================</h2>
<h2 class="text-center">:::Add Exam:::</h2>
<%= render "form"%>
